name: Rust CI
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "11 7 * * 1,4"
env:
  RUSTFLAGS: -Dwarnings
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: clippy
          shared-key: stable
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - run: cargo clippy --workspace --tests --examples -- -D warnings

  docs:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rust-docs
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: docs
          shared-key: stable
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - run: cargo doc --workspace --no-deps

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [stable]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: test
          key: ${{ matrix.os }}
          shared-key: stable
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - run: cargo test --workspace --no-fail-fast
      - run: cargo test --workspace --examples --bins --no-fail-fast
